In [16]:
my_list = [0, 1, 2, 3]
my_list

[0, 1, 2, 3]

In [17]:
list2 = ["John", "Sara", False, 1, 3.55]
len(list2)

list2[:-2]

['John', 'Sara', False]

In [18]:
my_list + list2

[0, 1, 2, 3, 'John', 'Sara', False, 1, 3.55]

In [19]:
names = ["John", "Sara", "Mike", "Anna"]

In [22]:
last_name = names[-1]  # Gets the last element
last_name

'Anna'

In [ ]:
names.reverse()

In [25]:
my_list2 = [1, 2, 3, 4, 5]
my_list2.remove(3)
my_list2.append(10)
my_list2  # This will raise an error because remove() returns None

[1, 2, 4, 5, 10]